<div id="<%= dom_id lista_tarefa %>">
  <p>
    <strong>Tarefas:</strong>
    <%= lista_tarefa.tarefas %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= lista_tarefa.descrição %>
  </p>

  <p>
    <strong>Entrega:</strong>
    <%= lista_tarefa.entrega %>
  </p>

  <p>
    <strong>Concluído:</strong>
    <%= lista_tarefa.concluído %>
  </p>

</div>
