<%# app/views/lista_tarefas/index.html.erb %>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Lista de Tarefas" %>

<h1>Lista de Tarefas</h1>

<%= link_to "Nova Tarefa", new_lista_tarefa_path %>

<div id="lista_tarefas">
    <% if @lista_tarefas.empty? %>
      <p>Nenhuma tarefa encontrada.</p>
  <% else %>
      <% @lista_tarefas.each do |lista_tarefa| %>
        <div style="display: grid; align-items: center; justify-content: center; margin-bottom: 10px; margin-top: 2rem; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
          <h2><%= link_to lista_tarefa.tarefas, lista_tarefa %></h2>
          <p>
            <%= link_to "Editar", edit_lista_tarefa_path(lista_tarefa) %>
            <%= button_to "Excluir", lista_tarefa, method: :delete %>
          </p>
        </div>
    <% end %> 
  <% end %>  
</div>