<p style="color: green"><%= notice %></p>

<%= link_to "Voltar", lista_tarefas_path %>
<%= render @lista_tarefa %>

<div>
  <%= link_to "Editar Tarefa", edit_lista_tarefa_path(@lista_tarefa) %>
  
  <%= button_to "Excluir Tarefa", @lista_tarefa, method: :delete %>
</div>
